@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Trocando para o ambiente de <strong>Development</strong> exibe informações detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser ativado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações confidenciais, exceto para usuários finais.
    Para depuração local, habilite o ambiente de <strong>Development</strong> definindo o
    <strong>ASPNETCORE_ENVIRONMENT</strong> variável de ambiente para <strong>Development</strong>
    e reiniciando o aplicativo.
</p>