html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Override UIKit label padding */
.uk-label {
  padding-right: 20px !important;
}

/* Custom navbar margins */
.uk-navbar-container {
  margin-left: 25px !important;
  margin-right: 25px !important;
}